<h2>Add a new shop</h2>

<div class="shop m-4 container">
    <form action="/add-shop" method="post">
        <label for="add_shop">New shop</label><input style="margin-left: 10px;" type="text" name="name">
        <div class="d-flex">
        <br><button class="btn btn-success m-4" type="submit">Add a shop</button>
    </form>

    <a class="btn btn-danger m-4" href="/">Home</a>
</div>