<h2>Shops</h2>
<div class="shop container">
    <div class="">
        {{#each shops}}
        <ul>
            <li>{{name}}</li>
        </ul>
        {{/each}}
    </div>

    <a class="btn btn-danger m-4" href="/">Home</a>
</div>